
html {
    scroll-behavior: smooth;
  }

body{
    text-align: center;
}

//nav riba
.bg-primary{
    background-color: rgba(135, 65, 141, 0.5) !important;
}

//kaardid
.card{
    border-radius: 2.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    .card-body{
        font-family: 'Comfortaa';
    }
    .card-title{
        font-size: 3rem;
    }
}

#kaart1{
    background: rgba(250, 212, 20, 0.7);
}
#kaart1:hover{
    background: rgba(250, 212, 20, 0.95);
}

#kaart2{
    background: rgba(250, 147, 20, 0.7);
}
#kaart2:hover{
    background: rgba(250, 147, 20, 0.95);
}

#kaart3{
    background: rgba(135, 25, 252, 0.7);
}
#kaart3:hover{
    background: rgba(135, 25, 252, 0.95);
}


//1st container text edit
h2{
    margin-top: 5em;
    margin-bottom: auto;
    text-align: center;
    font-family: 'Comfortaa';
    color: white;

}

//3rd container
.scrollamaContainer{
    margin-bottom: 15em;
    opacity: 0;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

#pealkiri2{
    color:white;
}

#rida1{
    margin-top: 8rem;
    margin-bottom: 20rem;
    margin-right: auto;
    margin-left: auto;
}

#unLogo{
    height: 60px;
    filter: contrast(2);
    transition: transform .3s;
}

#unLogo:hover{
-ms-transform: scale(1.1); /* IE 9 */
-webkit-transform: scale(1.1); /* Safari 3-8 */
transform: scale(1.1); 
}

.nav-item{
    font-family: 'Comfortaa';
    font-size: 1.6em;
    margin-right: 1em;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.nav-item:hover{
font-size: 1.8em;
}

#navBarCustomization{
    background-color: rgba(132, 127, 204, 0.9);
    min-width: 13em;
}
.dropdown-item{
    font-family: 'Comfortaa';
    text-align: center;
}

#myBtn {
    position: fixed;
    bottom: 20px;
    margin-left: 50%;
    z-index: 99;
    font-family: 'Comfortaa';
    font-size: 1.3em;
    border: none;
    outline: none;
    background-color: rgba(135, 65, 141, 0.4);
    color: rgb(177, 169, 169);
    cursor: pointer;
    padding: 15px;
    border-radius: 150px;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  #myBtn:hover {
    background-color: rgba(154, 71, 160, 0.7);
    
  }
  .clickablePic{
      width: 400px;
  }

  #img1, #img2, #img3{
      margin-top: 1em;
      margin-bottom: 1em;
      border-radius: 0.5em;
  }

  .kaardiIframe {
      font-size: 3em;
      color: black;
  }

a{
    font-family: 'Comfortaa';
    color: black;
}
a:hover{
    color: black;
    text-decoration: none;
}